<div style="height: 80px;"></div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center mb-4">
            <img src="assets/images/image1.png" />
        </div>
        <div class="col-md-6 col-sm-12 mb-4">
            <img class="d-none d-md-block" src="assets/images/line.png" style="
            margin-left: 80%;
            width: 50px;"/>
            <h1 class="text-dark fw-semibold">What your BMI result means</h1>
            <p class="text-secondary fw-lighter">A BMI range of 18.5 to 24.9 is considered a 'healthy weight.' Maintaining a healthy weight may lower your chances of experiencing health issues later on, such as obesity and type 2 diabetes. Aim for a nutritious diet with reduced fat and sugar content, incorporating ample fruits and vegetables. Additionally, strive for regular physical activity, ideally about 30 minutes daily for five days a week.</p>
        </div>
    </div>
    <div style="height: 80px;"></div>
    <div class="card custom-gradient border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img src="assets/images/icon1.png" class="mb-5"/>
                    <h4 class="text-dark fw-semibold">Healthy eating</h4>
                    <p class="text-secondary fw-lighter">Healthy eating promotes weight control, disease prevention, better digestion, immunity, mental clarity, and mood.</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img src="assets/images/icon2.png" class="mb-5"/>
                    <h4 class="text-dark fw-semibold">Regular exercise</h4>
                    <p class="text-secondary fw-lighter">Exercise improves fitness, aids weight control, elevates mood, and reduces disease risk, fostering wellness and longevity.</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img src="assets/images/icon3.png" class="mb-5"/>
                    <h4 class="text-dark fw-semibold">Adequate sleep</h4>
                    <p class="text-secondary fw-lighter">Sleep enhances mental clarity, emotional stability, and physical wellness, promoting overall restoration and rejuvenation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 80px;"></div>

