// Custom.scss
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



// Then add additional custom code here
// Default variable overrides
$body-bg: #FFFFFF;
$body-color: #253347;

$primary: #345FF6;
$secondary: #5E6E85;
$dark: #253347;
$custom-colors: (
  "boder-color": #D8E2E7
);
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "dark":       $dark
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
.custom-gradient{
  background: rgb(214,252,254);
  background: linear-gradient(140deg, rgba(214, 252, 254, 0) 0%, rgba(214, 252, 254, 0.46538) 62%, rgb(214, 230, 254) 153%);
}
.rectangle {
  width: 65%;
  background: rgb(214,252,254);
  background: linear-gradient(140deg, rgba(214, 252, 254, 0) 0%, rgba(214, 252, 254, 0.46538) 62%, rgb(214, 230, 254) 93%);  
  position: absolute;
  z-index: -1;
  height: 55vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 20px;

  // Media query for tablets and smaller devices
  @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
  }
}
.bmi-result{
  border-radius: 20px;
  background: rgb(88, 125, 255);
  background: linear-gradient(270deg, rgba(88, 125, 255, 1) 0%, rgba(52, 95, 246, 1) 100%);
  padding: 20px;
  
   @media (min-width: 768px) {
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
  }
}

// Import Bootstrap mixins and core styles
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";



